<div class="row">
	<div class="large-6 large-offset-1 columns">
		<h3>Route Name</h3>
		<h4>Route Origin:</h4>
		<p>[some geocoding stuff]</p>
		<h4>Route Length:</h4>
		<p>[the route's length]</p>
		<h4>Estimated Time:</h4>
		<p>[walking time/running time/cycling time]</p>
	</div>
	<div class="large-4 large-offset-1 columns">
		<div id="show-map"></div>
	</div>
</div>